html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: none;
  background-color: #171717;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.calendar {
  position: absolute;
  width: 90%;
  height: 90vh;
  top: 5vh;
  left: 5%;
  border-radius: 0.5em;
}

.days {
  position: absolute;
  width: 13.5%;
  height: 19%;
  background-color: blue;
  border-radius: 0.5em;
}

.nodays {
  position: absolute;
  width: 13%;
  height: 19%;
  top: 50vh;
  background-color: yellow;
  border-radius: 0.5em;
}

.threeDays {
  position: absolute;
  width: 14.29%;
  height: 20%;
  top: 50vh;
  left: 50%;
  background-color: green;
  border-radius: 0.5em;
}

.dtext {
  position: absolute;
  font-size: 5em;
  color: white;
}
